body{
    font-size: var(--tamanho-texto);
    font-family: var(--fonte-texto);
}
header{
    background-color: var(--cor-primaria);
    color: var(--cor-texto-branca);
    padding: var(--espacamento);
    text-align: center;
}
a{
    color: var(--cor-texto-branca);
    text-decoration: none;
    font-style: italic;
}
a:hover{
    color: #FFD700;
    text-decoration: none;
}
a.navigation{
    color: var(--cor-texto-preta);
    font-style:inherit ;
}
article h1{
    text-align: center;
}
section a{
    color: blue;
}
section.sobremim{
    padding-top: 10px;
}
section h2,h3,h4{
    padding-top: 5px;
}
nav{
    background-color: var(--cor-secundaria);
    padding: var(--espacamento);
    
}
.nav{
    top: 15px;
    position: sticky;
}
nav ol{
    color: white;
}
nav ul{
    list-style:disc;
    padding-left: 15px;
}
article{
    padding: var(--espacamento);
    background-color: var(--cor-terciaria);
}
footer {
    background-color: var(--cor-primaria);
    color: var(--cor-texto-branca);
    text-align: center;
}
footer p{
    padding: 5px;
}
footer a{
    color: var(--cor-texto-branca);
}
h1{
    font-size: var(--tamanho-titulo);
    font-family: var(--fonte-titulo);
}
.imagem{
    height: auto;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    max-width: 200px;
}
.imagemInicial{
    height: auto;
    width: 50%;
    margin: auto;
    display:block;
    padding-bottom: 5px;
    max-width: 500px;
}
p,ul,li{
    padding-top: 5px;
}
ul{
    list-style:disc;
    padding-left: 30px;
}
ol{
    padding: var(--espacamento);
}
img{
    border-radius: 15px;
}